@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.navbar {
  .navbar_logo {
    height: 100% !important;
    color: white;
    font-size: 2rem !important;
    font-weight: 900 !important;
    font-family: "Permanent Marker", cursive !important;
  }
}
