.activity{
    width: 330px;
    border-bottom: 1px #e6ebf2 solid;
    font-size: 14px;
    padding: 5px;
    display: flex !important;
    word-wrap: break-word;
    .activity_left{
        margin: 4px 8px 0px 0px;
    }
    .activity_right{
        .activity-right_time{
            font-size: 12px;
            color: #5e6c84;
        }
    }
}
