.task-detail {
  width: 640px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  max-height: 800px;
  overflow-y: auto;
  .task-detail_header {
    width: 100%;
    padding: 20px;
    color: white;
    svg{
      cursor: pointer;
      font-size: 22px;
    }
  }

  .task-detail_body{
      padding: 35px;
      .task-detail_body_activity{
        svg,h5{
          font-size: 20px;
        }
      }
  }
}
