.activities{
    background-color: white;
    position: absolute;
    right: 0;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    .activities_header{
        background-color: #f4f5f7;
        padding: 5px 0px 5px 10px;
        margin: -5px -5px 0px -5px;
        display: flex;
        align-items: center;
        h5{
            margin-bottom: 0px;
        }
        .activities_icon{
            font-size: 30px;
        }
    }
    
}