$mobile-width: 550px;
$tablet-width: 900px;
$desktop-width: 1024px;

.header {
  width: 100%;
  background: white;
  min-height: 8%;
  padding: 0 30px;
  @media screen and (max-width: $mobile-width) {
    padding: 0 15px;
  }
  h5{
    margin: 0;

    @media screen and (max-width: $mobile-width) {
      font-size: 14px;
    }
  }
}
